<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="app:siteurl" content="http://www.aviathai.com/"/>
    <meta name="author" content="AviaThai.com">
    <meta property="og:title" content="{{ "txt.title" | trans }}" />
    <meta property="og:type" content="Website" />
    <meta property="og:image" content="http://www.aviathai.com/favicon.ico" />
    <meta property="og:url" content="http://www.aviathai.com/" />
    <meta property="og:description" content="{{ "txt.description" | trans }}" />

    <meta property="twitter:title" content="{{ "txt.title" | trans }}" />
    <meta property="twitter:image:src" content="http://www.aviathai.com/favicon.ico" />
    <meta property="twitter:url" content="http://www.aviathai.com/" />
    <meta property="twitter:description" content="{{ "txt.description" | trans }}" />

    <meta property="name" content="{{ "txt.title" | trans }}" />
    <meta property="image" content="http://www.aviathai.com/favicon.ico" />
    <meta property="description" content="{{ "txt.description" | trans }}" />

    {#<meta property="fb:app_id" content="706570819441922"/>#}

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{{ "Search the cheapest flights in Thailand" | trans }}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/materialize.min.css') }}" rel="stylesheet"  media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('js/jquery.cookie.js') }}"></script>
    {#<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>#}
    <script src="{{ asset('js/materialize.js') }}"></script>
</head>
<body class="light-blue lighten-5">
<div id="fb-root"></div>
<script type="application/javascript">
    var LOCALE = "{{ app.request.locale }}";
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        var fbLocale = (LOCALE == 'th') ? 'th_TH' : 'en_US';
        js.src = "//connect.facebook.net/" + fbLocale + "/sdk.js#xfbml=1&version=v2.4&appId=214789728573656";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src="{{ asset('images/logo.png') }}" style="vertical-align: middle;height:50px;">&nbsp;AviaThai</a>
        <ul class="right">
            <li><a href="#" class="left locale" data-locale="en" style="padding: 0 5px;">Eng</a></li>
            <li>|</li>
            <li><a href="#" class="left locale" data-locale="th" style="padding: 0 5px;">ไทย</a></li>
        </ul>
    </div>
</nav>
<div class="section no-pad-bot">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="application/javascript">
    $(document).ready(function(){
        $('.locale').on('click', function() {
            var locale = $(this).data('locale');
            $.cookie('locale', locale, {"path":"/"});
            try {
                ga('send', 'event', 'locale', locale);
            } catch (e) {
            }
            document.location.reload();
        })
    });
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65965115-1', 'auto');
    ga('send', 'pageview');

</script>
<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
            <span class="left">AviaThai.com, 2015</span><span class="right">Email: <a href="mailto:info@aviathai.com" class="orange-text text-lighten-3">info@aviathai.com</a></span>
        </div>
    </div>
</footer>
</body>
</html>