{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/galmiairways/js/index.js') }}"></script>
    <script type="application/javascript">
        var LOCALE = "{{ app.request.locale }}";
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block body %}
    <h4 class="header center orange-text">{{ "Search the cheapest flights in Thailand" | trans }}</h4>
    <div class="row white">
        <ul class="tabs">
            <li class="tab">
                <a href="#domestic">{{ "txt.domestic_flight" | trans }}</a>
            </li>
            <li class="tab">
                <a href="#hotel">{{ "txt.hotels" | trans }}</a>
            </li>
            <li class="tab">
                <a href="#international">{{ "txt.international_flights" | trans }}</a>
            </li>
        </ul>
    </div>
    <div id="domestic" class="col s12">
        <div class="row white section">
            <form id="searchForm">
                <div class="input-field col s1"></div>
                <div class="input-field col s3">
                    <select id="origin" name="origin">
                    </select>
                    <label for="origin">{{ "txt.origin" | trans }}</label>
                </div>
                <div class="input-field col s3">
                    <select id="destination" name="destination">
                    </select>
                    <label for="destination">{{ "txt.destination" | trans }}</label>
                </div>
                <div class="input-field col s2">
                    <input type="date" class="datepicker" id="departureDate" name="departureDate">
                    <label for="departureDate">{{ "txt.departure_date" | trans }}</label>
                </div>
                <div class="input-field col s2 center">
                    <button type="button" class="btn-large orange"
                            id="submit">{{ "txt.find" | trans }}</button>
                </div>
            </form>
        </div>
        <div class="row hide" id="loader">
            <div class="progress orange lighten-5" style="height:8px;">
                <div class="indeterminate orange"></div>
            </div>
        </div>
        <div id="adsense" class="row">
        </div>
        <div id="results">

        </div>
    </div>
    <div id="international" class="col s12 center">

    </div>
    <div id="hotel" class="col s12 center">

    </div>

    <div id="templates" class="hide">
        <div id="result-row">
            <div class="card-panel row result-row pin-top">
                <div class="col s12">
                    <table class="bordered">
                        <tbody>
                        <tr>
                            <td>
                                <h5 class="orange-text"><span class="price">{price}</span>&nbsp;{{ "txt.THB" | trans }}</h5>
                                <img src="/images/airlines/{source}.png" style="position:absolute;top:25px;right:0;">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s12 media-middle">
                    <h6 class="left">{origin_name} – {destination_name}</h6>
                    <h5 class="right">{departTime} – {arrivalTime}</h5>
                </div>
                <div class="col s12">
                </div>
                <div class="col s12 center">
                    <button type="button" class="btn btn-large orange">{{ "txt.book_now" | trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
