{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('bundles/galmiairways/js/index.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row white">
        <ul class="tabs">
            <li class="tab col s4">
                <a href="#domestic">{{ "Domestic flights" | trans }}</a>
            </li>
            <li class="tab col s4">
                <a href="#international">{{ "International flights" | trans }}</a>
            </li>
            <li class="tab col s4">
                <a href="#hotel">{{ "Hotels" | trans }}</a>
            </li>
        </ul>
    </div>
    <div id="domestic" class="col s12">
        <div class="row white section">
            <form id="searchForm" >
                <div class="input-field col s1"></div>
                <div class="input-field col s3">
                    <select id="origin" name="origin">
                    </select>
                    <label for="origin">{{ "Origin" | trans }}</label>
                </div>
                <div class="input-field col s3">
                    <select id="destination" name="destination">
                    </select>
                    <label for="destination">{{ "Destination" | trans }}</label>
                </div>
                <div class="input-field col s3 center">
                    <input type="date" class="datepicker" id="departureDate" name="departureDate">
                    <label for="departureDate">{{ "Departure date" | trans }}</label>
                </div>
                <div class="input-field col s2 center">
                    <button type="button" class="btn-large waves-effect waves-light orange" id="submit">{{ "Find" | trans }}</button>
                </div>
            </form>
        </div>
        <div class="progress hide" id="loader">
            <div class="indeterminate"></div>
        </div>
        <div  id="results">

        </div>
    </div>
    <div id="international" class="col s12">
        <script charset="utf-8"
                src="//www.travelpayouts.com/widgets/6a56d09ef7adde499da00a5745eebb66.js?v=492"
                async></script>
    </div>
    <div id="hotel" class="col s12">
        <script charset="utf-8"
                src="//www.travelpayouts.com/widgets/0a4ef006ece369f2a7ed2a01b0fa3587.js?v=492"
                async></script>
    </div>
{% endblock %}
